/**
 * Styles.css for default theme
 * 
 * @author dopesaur
 * @package Fuzzy
 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: normal;
    
    margin-bottom: 0.5em;
}

h1 { font-size: 32px }
h2 { font-size: 28px }
h3 { font-size: 22px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 10px }

p {
    font-size: 14px;
    line-height: 140%;
    
    margin-bottom: 1em;
}

pre {
    font-family: Menlo, Monaco, monospace;
    line-height: 120%;
    
    margin-bottom: 1em;
}

a {
    color: #07c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 .small, 
h2 .small, 
h3 .small,
h4 .small, 
h5 .small, 
h6 .small {
    font-size: 0.5em;
}

.group:after {
    content: "";
    font-size: 0px;
    
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/**
 * Common styles
 */

.wrapper {
    margin: 0px auto;
    width: 800px;
}

.wrapper-login {
    width: 400px;
}

#wrapper ul {
    list-style: none;
}

.posts > * {
    margin-bottom: 2em;
}

.post-title {
    margin-bottom: 0em;
}

.date {
    font-size: 12px;
    color: #aaa;
}

/**
 * Form stuff
 */

.form input,
.form textarea {
    border: 1px solid #ccc;
    font-size: 12px;
    
    display: block;
    margin-top: 4px;
    padding: 4px;
    width: 100%;
}

.form textarea {
    height: 180px;
    max-width: 100%; 
}

.form label {
    font-size: 14px;
    
    display: block;
    margin-bottom: 2em;
}

.form button {
    padding: 4px 8px;
}

/**
 * Header
 */

#wrapper {
    margin-bottom: 24px;
}

#header h1 {
    margin-bottom: 0.1em;
}

/**
 * Pagination
 */

.pagination {
    font-size: 0px;
    
    display: block;
}

.pagination > * {
    font-size: 14px;
    
    display: inline-block;
    margin-right: 1em;
}

.pagination a,
.pagination span {
    display: block;
    padding: 2px 6px;
}